body, html {
	background-color: #000;
	margin:0px;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #FFF;
}

#container {
	margin: 0 auto;
	width:100%;
	text-align:center;
}

#footer {
	position:absolute;
	bottom:0;
	width:100%;
	background-color:#212123;
	height:300px;
}

#footer img {
	max-width:100%;
	height:100%;
	display:block;
}

p {
	clear: both;
        color: #FFFFFF;
        display: block;
        margin: 0;
        padding: 0; 
}

.text {
	padding-top:50px;
	padding-bottom:50px;
}

.button_home a:link,  .button_home a:visited {
	color: #CCC;
	text-decoration: none;
}

.button_home a:hover {color: #FFF;}

button {
    background: url("../images/send.jpg") no-repeat scroll center top transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: normal;
    height: 24px;
    margin-top: 44px;
    width: 100%;
}

input {
    background-color: #000;
    border: medium none;
    color: #999999;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 22px;
    padding: 9px 0 0;
    position: relative;
    text-align: left;
    top: 4px;
}
input[type="text"] {
    border-bottom: 1px solid #FFFFFF;
    float: left;
    margin: 0 0 0 30px;
    width: 295px;
}
label{
    float: left;
    position: relative;
    top: 19px;
}
hr {
  color:#CCC;
	background-color: #CCC;
	height: 1px;
	width: 75%;
	border:0;
}

